@import url(https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.page-wrapper {
  padding: auto;
  margin: 7%;
}

body {
  display: block;
  background-color: #f2f5f6;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #4c4e61;
}

nav a {
  color: grey;
  font-size: 1.7rem;
  color: #a8aaac;
  padding: 7px;
  text-decoration: none;
}

nav a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: MediumPurple;
  text-decoration-color: MediumPurple;
}

.about {
  text-align: center;
  max-width: 480px;
  margin: auto;
  margin: 100px auto;
}

.about h1.hello {
  font-size: 1.6rem;
  font-weight: 200;
  color: #a3a5ae;
}

.about .name {
  font-size: 2.3rem;
  font-weight: 600;
  color: #4c4e61;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1rem;
  font-weight: 400;
  color: #a3a5ae;
}
